annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
fastapi==0.136.1
h11==0.16.0
idna==3.13
iniconfig==2.3.0
logging==0.4.9.6
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pluggy==1.6.0
pydantic==2.13.3
pydantic-core==2.46.3
pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
six==1.17.0
starlette==1.0.0
typing-extensions==4.15.0
typing-inspection==0.4.2
uvicorn==0.46.0
